.cell {
	margin: 4px;
	font-size: 40px;
	vertical-align: middle;
	width: 60px;
	height: 60px;
	border: 1px solid #aaa;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	f
}
.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

html,
body {
	background: #111;
	color: white;
	text-align: center;
	font-family: sans-serif;
	text-transform: uppercase;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	
}
h1 {
	font-size: 42px;
}
